$black: rgba(0, 0, 0, 1);
$black-2: rgba(0, 0, 1, 0.502);
$tangaroa: rgba(12, 22, 59, 1);
$woodsmoke: rgba(14, 14, 14, 1);
$gray900: rgba(17, 24, 39, 1);
$mirage2: rgba(26, 31, 36, 1);
$gray500: rgba(107, 114, 128, 1);
$gray400: rgba(156, 163, 175, 1);
$quick-silver: rgba(158, 163, 166, 1);
$silver-chalice: rgba(167, 170, 173, 1);
$spindle: rgba(179, 207, 251, 1);
$rose700: rgba(190, 18, 60, 1);
$gray-suit: rgba(193, 195, 205, 1);
$celeste: rgba(204, 204, 204, 1);
$gray300: rgba(209, 213, 219, 1);
$alto: rgba(217, 217, 217, 1);
$geyser: rgba(220, 224, 226, 1);
$wild-sand: rgba(243, 244, 246, 0.502);
$rose: rgba(255, 80, 80, 1);
$white-22: rgba(255, 255, 254, 1);
$white3: rgba(255, 255, 255, 0.004);
$white2: rgba(255, 255, 255, 1);


